content
    .content
        div
            p
             a(href="#p1") Paragraph 1
               a(href="#p2") Paragraph 2
                 a(href="#p3") Paragraph 3
            p
                a(href="#p4") Paragraph 4
                    a(href="#p5") Paragraph 5
                        a(href="#p6") Paragraph 6