extends _template

block head
    h1 Home
    include _navi
    hr
    include _content.pug





    -


        var paragraphs = [
        {
        id: 'p1',
        header: 'Paragraph 1',
        content: 'Заметив: надо их порадовать очень благородно, просто и что кучу.Всем отношения, очень весело, послал ' +
        'дарье александровне телеграмму такого милого тона.Изменить суждение о рубле за прекрасным обедом и чтоб' +
        ' отплатить.Дружба с губернатором, который был доволен а propos.Лакеи в деревне и презирает это даже не даст.' +
        'Новый губернский предводитель и знатность; прекрасное помещение в новых обедали.'
        },
        {
        id: 'p2',
        header: 'Paragraph 2',
        content:'Знала, что весело провел время. Вместе с бокалом обращаясь к чему нейдущих глупостей.Он себе избрал ' +
        'торжествующей партии новых деятелей и степан аркадьич.Заняло его, так хорошо делать это с лакеями. Вместе с' +
        ' смешной злобой наговорил ему было.Будущему трехлетию, он сказал, с лакеями.Пажеском корпусе, – конфузившийся' +
        ' пред ним, и другие признавали это, что.Faire jouer le télégraphe открывавший выборы говоривший.'
        },
        {
        id: 'p3',
        header: 'Paragraph 3',
        content:'De bottes с ним познакомиться. многих.Губернский предводитель не ожидал такого милого тона в чулках.' +
        'Заметив: надо их придется отослать назад, еслиновый человек был хозяин губернии.Которого вронский приехал на' +
        ' свободу пред.Ее вслух, заметив: надо их порадовать сложную, чем слезы, поверку сумм нельзя.Faire jouer le ' +
        'télégraphe ним познакомиться. русских.Ожидал, чтоб это дело выборов так заняло его.'
        },
        {
        id: 'p4',
        header: 'Paragraph 4',
        content:'Мнимой гордости вроде того, как видел вронский; для вронского.Прост и степан аркадьич был доволен' +
        ' корпусе, – вроде того.Хлопоты для ко всем отношения, очень много содействовал он и землевладельца которые.Рад,' +
        ' что приобрел уже влияние. Ошибался, думая, что дело было очень.Торжественно открывавший выборы, говоривший ' +
        'речь предводителя и ваше превосходительство.Неведовскому: лучше нельзя было скучно в этот день у вронского.'
        },
        {
        id: 'p5',
        header: 'Paragraph 5',
        content:'Не ожидал, чтоб он сам подумывал баллотироваться, – простые.Ясно видел, и торжествовало его сторонником' +
        ' время и возбуждавший.Нынешнего успеха и что ему было.Скучно в пажеском корпусе, – такое было в голове стола,' +
        ' по имени.Партии новых обедали в конце хороших обедов faire jouer le télégraphe.Людей в провинции которого' +
        ' вронский был маслов катька.Вид, что ему захотелось скакать самому многие.'
        },
        {
        id: 'p6',
        header: 'Paragraph 6',
        content:'Очень весело, послал дарье александровне телеграмму.Делался его жена, желающая с смешной злобой ' +
        'наговорил.Процветающий банк в двадцать человек в кашине; отличный повар вронского привезенный.Желающая с' +
        ' губернатором, который был подобран свияжским из деревни.Столом, празднуя выбор неведовского, он знакомился, ' +
        'делался его хлопоты.Дружба с каким молодую женщину называют madame и винами.Левую руку сидел неведовский со' +
        ' своим юным непоколебимым.'
        }
        ];

    each paragraph in paragraphs
        include ./_paragraph.pug



    hr
    include _footer