.content-w {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: #A81734;
}

.item_1 {
     width: 611px;
     height: 864px;

     background-image:
             url("ing/lb_1.png" ),
             url("ing/img_4.1.png");

     background-repeat: no-repeat;
     background-position: 30px 70px , center  ;

 }

.item_2 {
    width: 800px;
    height: 864px;

    background-image:
            url("ing/lb_2.png"),
            url("ing/vx_1.png"),
            url("ing/img_4.2.png"),
            url("ing/text_1.png");


    background-repeat: no-repeat;
    background-position: 120px 70px , 550px 450px , center  ;

}

