.chapter {
    display: grid;
    justify-content: center;
    font-size: 40px;
    font-family: "PH 600 Caps", serif;
}

.grid-img {
    background: #A81734;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-left: 20px;
    padding-top: 20px;

}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.grid-th {
    justify-content: center;
}
